<main class="home-container">
  <h1>Oregon State Esports</h1>

  {{#each gameIcons}}
    {{>homeCard}}
  {{/each}}
  <div class ="home-img-container">
  <image src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/artbook/en_US/f31d8b829b603b4b65fdff2475bd0803ced0179d/assets/content/teamwork/01_promo/promo_01.jpg" class ="home-img">
  <image src="https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt2ae5cd8ad3b9d57d/5cef22974e4776020a33400b/genji-screenshot-004.jpg?auto=webp" class ="home-img">
  <image src="https://store-images.s-microsoft.com/image/apps.3469.65170969132831011.1a6969c2-c209-441f-86d0-c320c947d7bb.fe8618fc-ffbd-48eb-b9c5-d95b2c316f9b?mode=scale&q=90&h=1080&w=1920" class ="home-img">
    <image src="https://rocketleague.media.zestyio.com/Crate-Blog-Image.f44ca8609585ba611e1277fc600f5cc1.jpg" class ="home-img">
  <image src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/408719_10151198899346283_1103958950_n.jpg?_nc_cat=1&_nc_sid=e3f864&_nc_ohc=YAY4XvDLFLsAX-8zFQc&_nc_ht=scontent-sea1-1.xx&oh=58d65632ee17ace92d4934b11b52b11d&oe=5EFF5058" class ="home-img">

  </div>
</main>
