<h1>Home Page</h1>
<main class="home-container">
  {{#each gameIcons}}
    {{>homeCard}}
  {{/each}}
</main>
<table id = 'Games'>
    <tr>
        <th>Game_Name</th>
        <th>Main_Team</th>
        <th>Release_Date</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.Game_Name}}</td>
        <td>{{this.Main_Team}}</td>
        <td>{{this.Release_Date}}

    </tr>
    {{/each}}
</table>
