<p class="page-title">{{title}}</p>
<!-- <div class="resetPageBtnContainer">
  <button class="resetPageBtn" type="button" name="resetPage">Reset Page</button>
</div> -->
<main class="peopleContainer">
  {{#each players}}
    {{>peopleCard}}
  {{/each}}
  <table id = 'Games'>
      <tr>
          <th>Game_Name</th>
          <th>Main_Team</th>
          <th>Release_Date</th>
      </tr>
      {{#each data}}
      <tr>
          <td>{{this.Game_Name}}</td>
          <td>{{this.Main_Team}}</td>
          <td>{{this.Release_Date}}
      </tr>
      {{/each}}
  </table>
</main>
